nav{
    background: black;
    transition: background-color 0.3s ease-in-out;
}
nav ul a:hover {
    text-decoration: underline;
}
main{
    margin-top: 50px;
}
main .first img{
    width: 500px;
    height: 350px;
}
footer{
    background-color: rgb(51, 178, 228);
}