nav{
    background: black;
    transition: background-color 0.3s ease-in-out;
}
nav ul a:hover {
    text-decoration: underline;
}
main{
    margin-top: 50px;
}
main .btn{
    background-color: rgb(51, 178, 228);
    color: white;
}
main .btn:hover{
    background-color: black;
    color: rgb(51, 178, 228);
}
footer{
    background-color: rgb(51, 178, 228);
}